<div class="side_top">
  <div class="user_name">
    <a href="#">user</a>
  </div>
  <div class="chat_create">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side_middle">
  <div class="room">
    <div class="chat_room">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="chat_room">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>